<mat-sidenav [mode]="'side'" opened>
  <mat-nav-list role="list">
    <mat-list-item role="listitem" routerLink="/featured">
      <mat-icon class="list-icon">home</mat-icon>
      <span class="list-text">Home</span>
    </mat-list-item>

    <mat-list-item role="listitem" routerLink="/subscriptions">
      <mat-icon class="list-icon">subscriptions</mat-icon>
      <span class="list-text">Subscriptions</span>
    </mat-list-item>

    <mat-list-item role="listitem" routerLink="/history">
      <mat-icon class="list-icon">history</mat-icon>
      <span class="list-text">History</span>
    </mat-list-item>

    <mat-list-item role="listitem" routerLink="/liked-videos">
      <mat-icon class="list-icon">thumb_up</mat-icon>
      <span class="list-text">Liked Videos</span>
    </mat-list-item>
  </mat-nav-list>

</mat-sidenav>
