.video-detail-header{
  padding-top: 15px;
}

.video-detail{
  margin-top: 40px;
  margin-left: 100px;
}

.subtitles{
  justify-content: space-between;
}

mat-card[ng-reflect-router-link] {
  cursor: pointer;
}

.suggestion-bar {
  margin-top: 10px;
}

.subscribe-button {
  height: 40px;
  justify-content: right;
}

.subscribe-button-clicked {
  background-color: gray;
  height: 40px;
}

.view-count {
  padding-right: 5px;
}

.dot {
  border-radius: 50%;
  width: 5px;
  height: 5px;
  background-color: black;
  display: inline-block;
}

.video-upload-date{
  padding-left: 5px;
}

.thumbs-down {
  padding-left: 15px;
}

.like-dislike-section {
  padding-right: 10px;
}
.tag-list {
  display: flex;
  flex-wrap: wrap; /* Allows the tags to wrap onto the next line if needed */
  margin-bottom: 16px; /* Add some spacing below the tags */
}

.tag {
  display: inline-block;
  background-color: #e2e2e2; /* Light gray background */
  border-radius: 20px;
  padding: 4px 8px; /* Padding around the text */
  margin: 4px; /* Spacing between tags */
  font-size: 14px; /* Font size for the tags */
}
